# Arquivos Maven
target/

# Arquivos IDE
.idea/
*.iml
.vscode/
.eclipse/

# Arquivos do Sistema
.DS_Store
Thumbs.db

# Arquivos Git
.git/
.gitignore

# Arquivos de documentação
README.md
*.md

# Arquivos de configuração local
.env
.env.local

# Arquivos de log
*.log
logs/

# Arquivos temporários
*.tmp
*.temp


